@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
  background-color: #F7F8FB;
}

.bold-header .MuiDataGrid-columnHeaderTitle {
  font-weight: bold;
}
